.cmtpopup {
    position: absolute;
    background: #fff;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    padding: 3px;
    margin: 20px 0px 0px;
    z-index: 9999;
    display: block;
    min-width: 290px;
    min-height: 30px;
    display: none;
}

audio {
    display: none;
}